 <%=@test_var%>

<h2>Enter your growl</h2>

<form name ="form_item" action="/" method="post">
    <input type="text" name="post1" maxlength="142">
    <!-- <input type="text" name="item_name"> -->
    <input type="submit" value="submit">
</form>

<!-- <%=@post%> -->
